.homepage{
    background-color: #009DFF22;
    background: linear-gradient(to bottom, #009DFF22 0%, #ACDFFF 100%);
    padding: 0 0 20px 0;
    font-family: 'Trebuchet MS', sans-serif;
}

/***********navbar*************/
.homepage-navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.homepage-navbar .homepage-navbar-image img{
    max-width: 150px;
}

.joinus-button{
    background-color: #009DFF22;
    border-radius: 5px;
    margin: 15px;
    color: white;
    font-weight: bold;
}

.login-button{
    background-color: #009DFF22;
    border-radius: 5px;
    margin: 15px;
    font-weight: bold;
}

/***************motto*****************/

.motto{
    text-align: center;
    padding-top: 75px;
}

.motto h1{
    color: #4189C7;
    font-size: 50px;
    font-weight: bold;
}

.motto span{
    color:#504D4D;
    font-weight: lighter;
}

.motto p{
    color: #504D4D;
    font-size: 20px;
}

.motto p span{
    font-weight: bold;
}

/***************slide show*********************/
.slide-container {
    display: flex;
    justify-content: space-between;
    overflow:auto;
}

/************homepage types*******************/
.homepage-types{
    padding: 20px 0 20px 0;
    text-align: center;
    color: #504D4D;
    font-weight: bolder;
    overflow: hidden;
    width: 100%;
    height: auto;
}

.homepage-creators, .homepage-businesses, .homepage-freelancers{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.homepage-creators h1, .homepage-businesses h1, .homepage-freelancers h1{
    font-size: 50px;
    font-weight: bold;
}

.homepage-types div img{
    width: 60% !important;
    height: auto;
}

/******************footer*******************/
.homepage-footer{
    text-align: center;
    color: #504D4D;
    margin: 50px 0 50px 0;
}

.homepage-footer .icons i{
    margin: 10px;
    cursor: pointer;
}