.trendingpost-title, .recentposts-title{
    display: flex;
    justify-content: row;
    align-items: center;
    margin: 70px 0 50px 0;
}
.trendingpost-title hr, .recentposts-title hr{
    margin: auto;
}

.trendingpost-title p, .recentposts-title p{
    color: #0275B1;
    font-size: 80%;
    margin: 0;
    padding: 0;
    text-align: center;
}

.trendingpost-title span, .recentposts-title span{
    font-weight: bold;
    color: black;
}

.loadmore{
    display: flex;
    justify-content: center;
}

.loadmore-btn{
    border-radius: 10px;
    border: none;
    padding: 5px 10px 5px 10px;
    box-shadow: 0 0 5px #00000029;
}