.user-info {
    margin: 0;
    padding: 1% 2%;
    display: flex;
    flex-direction: row;
}

.user-info img {
    height: 63px;
    width: 63px;
    border-radius: 50%;
}

.user-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:  65px;
    margin: auto 20px;
}

.user-data .user-name {
    font-size: 15px;
    font-weight: bold;
    color: #000;
    margin: 0;
}

.user-data .post-time {
    font-size: 10px;
    font-weight: lighter;
    margin: 0;
    padding: 0;
}

.user-data .user-username {
    font-size: 10px;
    font-weight: lighter;
    margin: 0;
    padding: 0;
}

.follow-button {
    margin: auto;
}