.comment-info{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.comment-info img {
    width: 50%;
    border-radius: 50%;
}

.comment-info input{
    height: 2rem;
}

.new-comment{
    width: 100%;
    border-radius: 15px;
    padding: 0px 15px;
    outline: none;
    border: 1px solid #707070;
}

.comment-info i{
    cursor: pointer;
}