.joinus{
    background-color:#009DFF22 ;
    height: 100vh;
}

.joinus-image{
    margin: 20px 0 20px 0;
    display: flex;
    justify-content: center;
}

.joinus-image img{
    cursor: pointer;
}
.content{
    padding:0 10px 0 10px ;
}

.joinus .content{
    margin: 10px;
    display: flex;
    justify-content: center;
}
.joinus .content div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.aboutus{
    text-align: center;
}

.our-values ol li {
    list-style-type: circle;
}
