.signup {
    height: 100vh;
    width: 100vw;
    background-color: #EAECEE;
}

.modal-center {
    height: 50vh;
    width: 50vw;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #fff;

    display: flex;
    flex-direction: row;
}

.signup-text {
    width: 12%;
    margin: auto;
    display: block;
}

.signup-text .signup-link {
    height: 10%;
    padding: 10%;
    text-decoration: none;
    display: block;
    text-align: center;
    font-weight: 500;
    color: #3AA2FB;
    border-left: 2px solid #3AA2FB;
}

.signup-text .login-link {
    height: 10%;
    padding: 10%;
    text-decoration: none;
    display: block;
    text-align: center;
    font-weight: 500;
    color: #D8D8D8;
    border-left: 2px solid #D8D8D8;
}

.slanted {
    font-size: 1.5em;
    line-height: 1.5;
    height: 60vh;
    width: 23%;
    top: -5vh;
    opacity: 0.9;
    background-color: #3AA2FB;
    position: relative;
    -webkit-clip-path: polygon(0% 6%,100% 0%,100% 100%,0% 95%);
    clip-path: polygon(0% 6%,100% 0%,100% 100%,0% 95%);
    display: flex;
}

.signup .slanted img {
    margin: auto;
    object-fit: cover;
    width: 80%;
}

.form {
    width: 65%;
}

.form .form-block{ 
    display: flex;
    flex-direction: column;
    padding: 0% 20%;
}

.label-firstname, .label-middlename, .label-lastname, .label-date, .label-registeras, .label-password, .label-fieldOfInterest, .label-urllink, .label-email {
    font-weight: bold;
}

.form .move-back {
    float: right;
    margin-top: 2%;
    margin-right: 2%;
    margin-bottom: 5%;
}

.forgot-password {
    text-align: center;
    color: #0372BC;
    padding: 1% 0%;
    margin-bottom: 2%;
}

.divider {
    border: 1px;
    border-color: #000;
    width: 50%;
    margin: auto;
}

.other-options {
    margin-top: 2%;
    padding: 0% 40%;
}